body {
    font-family: "Saira Stencil", sans-serif;
    background-color: gray;
}

h1 {
    text-align: center;
}

section {
    width: 80%;
    margin: auto;
    border: 2px solid rgb(12, 12, 7);
    padding: 10px;
}